<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Relationship Manager</title>
    <link rel="stylesheet" th:href="@{/styles/add-customer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}">
</head>
<body>
<div class="wrapper">
    <div class="header">
        <h2>CRM - Customer Relationship Manager</h2>
    </div>
</div>
<div class="container">
    <div class="content">
        <input type="button" value="Add Customer" onclick="window.location.href='showFormForAdd'; return false;"
               class="add-button">
        <form th:action="@{/customer/search}" method="get">
            <input type="text" placeholder="Search customer: " name="searchName">
            <input type="submit" value="Search" class="add-button">
        </form>
        <table>
            <tr>
                <td>
                    <a th:href="@{/customer/list(sort=${T(com.codecool.util.SortUtils).FIRST_NAME})}">First name</a>
                </td>
                <td>
                    <a th:href="@{/customer/list(sort=${T(com.codecool.util.SortUtils).LAST_NAME})}">Last name</a>
                </td>
                <td>
                    <a th:href="@{/customer/list(sort=${T(com.codecool.util.SortUtils).EMAIL})}">Email</a>
                </td>
                <td><strong>Action</strong></td>
            </tr>
            <tr th:each="customer: ${customers}">
                <td th:text="${customer.firstName}"></td>
                <td th:text="${customer.lastName}"></td>
                <td th:text="${customer.email}"></td>
                <td>
                    <a th:href="@{/customer/showFormUpdate/{id}(id=${customer.id})}">Update</a>
                    |
                    <a th:href="@{/customer/deleteCustomer/{id}(id=${customer.id})}"
                    onclick="if (!(confirm('Are you sure want to delete this customer?'))) return false;">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</div>


</body>
</html>